In [9]:
import numpy as np
import pandas as pd

In [10]:
gender = list(np.load('results/gender.npy'))
accident = np.load('results/accident.npy')
consolidation = list(np.load('results/consolidation.npy'))

In [11]:
for i, x in enumerate(gender):
    if x == 1: gender[i] = 'homme'
    else: gender[i] = 'femme'

In [12]:
result = pd.read_csv('test_folder/x_test_ids.csv')

In [13]:
result['sexe'] = gender
result['date_accident'] = accident
result['date_consolidation'] = consolidation

In [14]:
result.index = result['ID']

In [15]:
result = result.drop('ID', axis = 1)

In [16]:
result

                    filename   sexe date_accident date_consolidation
ID
770         Agen_1400036.txt  homme    2011-04-20               n.c.
771        Agen_20011399.txt  homme    1996-07-05               n.c.
772           Agen_21013.txt  homme    1989-05-11               n.c.
773           Agen_31076.txt  homme    1998-07-09               n.c.
774            Agen_3436.txt  homme    1999-05-28         2001-05-28
...                      ...    ...           ...                ...
1022  Versailles_1102996.txt  homme    2011-05-05         2012-09-17
1023  Versailles_1404397.txt  femme          n.c.         1968-05-20
1024  Versailles_1508232.txt  femme    2014-08-20         2012-01-26
1025    Versailles_45687.txt  homme    2000-10-09         2005-12-01
1026    Versailles_64952.txt  femme    1987-04-29               n.c.

[257 rows x 4 columns]

In [17]:
result.to_csv('results/result.csv')